## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(["EIN","NAME"],1)

<ipython-input-2-ee97dc80b640>:2: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  application_df = application_df.drop(["EIN","NAME"],1)

In [3]:
# Determine the number of unique values in each column.

application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [4]:
# Look at APPLICATION_TYPE value counts for binning
application_df.APPLICATION_TYPE.value_counts()

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [5]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
APPLICATION_TYPE = application_df.APPLICATION_TYPE.value_counts()
application_types_to_replace = APPLICATION_TYPE[APPLICATION_TYPE<500].index
application_types_to_replace

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [6]:
# Look at CLASSIFICATION value counts for binning
application_df.CLASSIFICATION.value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [7]:
# You may find it helpful to look at CLASSIFICATION value counts >1
CLASSIFICATION = application_df.CLASSIFICATION.value_counts()
classifications_to_replace = CLASSIFICATION[CLASSIFICATION<1000].index
classifications_to_replace

Index(['C7000', 'C1700', 'C4000', 'C5000', 'C1270', 'C2700', 'C2800', 'C7100',
       'C1300', 'C1280', 'C1230', 'C1400', 'C7200', 'C2300', 'C1240', 'C8000',
       'C7120', 'C1500', 'C1800', 'C6000', 'C1250', 'C8200', 'C1238', 'C1278',
       'C1235', 'C1237', 'C7210', 'C2400', 'C1720', 'C4100', 'C1257', 'C1600',
       'C1260', 'C2710', 'C0', 'C3200', 'C1234', 'C1246', 'C1267', 'C1256',
       'C2190', 'C4200', 'C2600', 'C5200', 'C1370', 'C1248', 'C6100', 'C1820',
       'C1900', 'C1236', 'C3700', 'C2570', 'C1580', 'C1245', 'C2500', 'C1570',
       'C1283', 'C2380', 'C1732', 'C1728', 'C2170', 'C4120', 'C8210', 'C2561',
       'C4500', 'C2150'],
      dtype='object')

In [8]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
#  YOUR CODE GOES HERE

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [9]:
# Convert categorical data to numeric with `pd.get_dummies`
application_df = pd.get_dummies(application_df)
application_df.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,108590,1,0,0,0,1,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,1,5000,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
3,1,6692,1,0,0,0,1,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,1,142590,1,0,0,0,1,0,0,0,...,0,0,1,0,0,0,0,0,1,0

In [10]:
# Split our preprocessed data into our features and target arrays
X = application_df.drop("IS_SUCCESSFUL",1)
y = application_df["IS_SUCCESSFUL"]

# Split the preprocessed data into a training and testing dataset
X_train,X_test, y_train, y_test = train_test_split(X,y,random_state=42)

<ipython-input-10-4db516f36657>:2: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  X = application_df.drop("IS_SUCCESSFUL",1)

In [11]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [12]:
features = len(X_train.values[0])

## Compile, Train and Evaluate the Model

In [23]:
# Determine the number of input features
num_input_features = X_train_scaled.shape[1]

# First hidden layer
nn.add(tf.keras.layers.Dense(128, activation='relu', input_shape=(num_input_features,)))
nn.add(tf.keras.layers.Dropout(0.3))  # Adding dropout for regularization

# Second hidden layer
nn.add(tf.keras.layers.Dense(64, activation='relu'))
nn.add(tf.keras.layers.Dropout(0.3))

# Third hidden layer
nn.add(tf.keras.layers.Dense(32, activation='relu'))

# Output layer
nn.add(tf.keras.layers.Dense(1, activation='sigmoid'))

# Check the structure of the model
nn.summary()

Model: "sequential_2"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_3 (Dense)             (None, 80)                3520

 dense_4 (Dense)             (None, 50)                4050

 dense_5 (Dense)             (None, 1)                 51

 dense_6 (Dense)             (None, 128)               256

 dropout (Dropout)           (None, 128)               0

 dense_7 (Dense)             (None, 64)                8256

 dropout_1 (Dropout)         (None, 64)                0

 dense_8 (Dense)             (None, 32)                2080

 dense_9 (Dense)             (None, 1)                 33

=================================================================
Total params: 18,246
Trainable params: 18,246
Non-trainable params: 0
_________________________________________________________________

In [24]:
# Compile the model
nn.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

In [25]:
# Train the model
epochs = 100

history = nn.fit(X_train_scaled, y_train, epochs=epochs, validation_data=(X_test_scaled, y_test))

Epoch 1/100
804/804 [==============================] - 4s 3ms/step - loss: 0.5642 - accuracy: 0.7232 - val_loss: 0.5609 - val_accuracy: 0.7252
Epoch 2/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5467 - accuracy: 0.7354 - val_loss: 0.5581 - val_accuracy: 0.7286
Epoch 3/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5438 - accuracy: 0.7368 - val_loss: 0.5620 - val_accuracy: 0.7293
Epoch 4/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5414 - accuracy: 0.7388 - val_loss: 0.5583 - val_accuracy: 0.7277
Epoch 5/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5415 - accuracy: 0.7390 - val_loss: 0.5614 - val_accuracy: 0.7271
Epoch 6/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5405 - accuracy: 0.7400 - val_loss: 0.5585 - val_accuracy: 0.7268
Epoch 7/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5395 - accuracy: 0.7392 - val_loss: 0.5576 - val_accuracy: 0.7271
Epoch 8/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5405 - accuracy: 0.7378 - val_loss: 0.5598 - val_accuracy: 0.7266
Epoch 9/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5404 - accuracy: 0.7361 - val_loss: 0.5569 - val_accuracy: 0.7299
Epoch 10/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5397 - accuracy: 0.7371 - val_loss: 0.5606 - val_accuracy: 0.7259
Epoch 11/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5396 - accuracy: 0.7399 - val_loss: 0.5587 - val_accuracy: 0.7245
Epoch 12/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5379 - accuracy: 0.7395 - val_loss: 0.5671 - val_accuracy: 0.7287
Epoch 13/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5387 - accuracy: 0.7388 - val_loss: 0.5600 - val_accuracy: 0.7235
Epoch 14/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5380 - accuracy: 0.7383 - val_loss: 0.5580 - val_accuracy: 0.7294
Epoch 15/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5386 - accuracy: 0.7380 - val_loss: 0.5588 - val_accuracy: 0.7285
Epoch 16/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5380 - accuracy: 0.7373 - val_loss: 0.5580 - val_accuracy: 0.7263
Epoch 17/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5379 - accuracy: 0.7382 - val_loss: 0.5572 - val_accuracy: 0.7296
Epoch 18/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5382 - accuracy: 0.7400 - val_loss: 0.5610 - val_accuracy: 0.7271
Epoch 19/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5379 - accuracy: 0.7390 - val_loss: 0.5572 - val_accuracy: 0.7294
Epoch 20/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5387 - accuracy: 0.7386 - val_loss: 0.5585 - val_accuracy: 0.7313
Epoch 21/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5378 - accuracy: 0.7385 - val_loss: 0.5595 - val_accuracy: 0.7251
Epoch 22/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5379 - accuracy: 0.7397 - val_loss: 0.5605 - val_accuracy: 0.7286
Epoch 23/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5378 - accuracy: 0.7404 - val_loss: 0.5600 - val_accuracy: 0.7269
Epoch 24/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5387 - accuracy: 0.7388 - val_loss: 0.5593 - val_accuracy: 0.7265
Epoch 25/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5370 - accuracy: 0.7393 - val_loss: 0.5602 - val_accuracy: 0.7237
Epoch 26/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5371 - accuracy: 0.7395 - val_loss: 0.5596 - val_accuracy: 0.7254
Epoch 27/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5364 - accuracy: 0.7399 - val_loss: 0.5598 - val_accuracy: 0.7278
Epoch 28/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5377 - accuracy: 0.7389 - val_loss: 0.5595 - val_accuracy: 0.7270
Epoch 29/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5376 - accuracy: 0.7388 - val_loss: 0.5599 - val_accuracy: 0.7227
Epoch 30/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5367 - accuracy: 0.7392 - val_loss: 0.5582 - val_accuracy: 0.7255
Epoch 31/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5366 - accuracy: 0.7393 - val_loss: 0.5621 - val_accuracy: 0.7241
Epoch 32/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5366 - accuracy: 0.7371 - val_loss: 0.5625 - val_accuracy: 0.7262
Epoch 33/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5361 - accuracy: 0.7393 - val_loss: 0.5593 - val_accuracy: 0.7292
Epoch 34/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5370 - accuracy: 0.7400 - val_loss: 0.5609 - val_accuracy: 0.7250
Epoch 35/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5360 - accuracy: 0.7372 - val_loss: 0.5604 - val_accuracy: 0.7261
Epoch 36/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5365 - accuracy: 0.7381 - val_loss: 0.5636 - val_accuracy: 0.7278
Epoch 37/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5370 - accuracy: 0.7379 - val_loss: 0.5604 - val_accuracy: 0.7257
Epoch 38/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5371 - accuracy: 0.7385 - val_loss: 0.5609 - val_accuracy: 0.7271
Epoch 39/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5364 - accuracy: 0.7396 - val_loss: 0.5591 - val_accuracy: 0.7240
Epoch 40/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5360 - accuracy: 0.7392 - val_loss: 0.5588 - val_accuracy: 0.7278
Epoch 41/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5355 - accuracy: 0.7405 - val_loss: 0.5602 - val_accuracy: 0.7284
Epoch 42/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5361 - accuracy: 0.7399 - val_loss: 0.5636 - val_accuracy: 0.7280
Epoch 43/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5370 - accuracy: 0.7390 - val_loss: 0.5628 - val_accuracy: 0.7243
Epoch 44/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5369 - accuracy: 0.7376 - val_loss: 0.5597 - val_accuracy: 0.7258
Epoch 45/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5369 - accuracy: 0.7400 - val_loss: 0.5605 - val_accuracy: 0.7245
Epoch 46/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5373 - accuracy: 0.7382 - val_loss: 0.5613 - val_accuracy: 0.7236
Epoch 47/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5360 - accuracy: 0.7388 - val_loss: 0.5628 - val_accuracy: 0.7261
Epoch 48/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5359 - accuracy: 0.7374 - val_loss: 0.5602 - val_accuracy: 0.7279
Epoch 49/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5369 - accuracy: 0.7380 - val_loss: 0.5592 - val_accuracy: 0.7287
Epoch 50/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5360 - accuracy: 0.7399 - val_loss: 0.5599 - val_accuracy: 0.7252
Epoch 51/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5365 - accuracy: 0.7388 - val_loss: 0.5609 - val_accuracy: 0.7256
Epoch 52/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5362 - accuracy: 0.7381 - val_loss: 0.5601 - val_accuracy: 0.7247
Epoch 53/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5366 - accuracy: 0.7385 - val_loss: 0.5593 - val_accuracy: 0.7282
Epoch 54/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5353 - accuracy: 0.7391 - val_loss: 0.5630 - val_accuracy: 0.7235
Epoch 55/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5356 - accuracy: 0.7393 - val_loss: 0.5633 - val_accuracy: 0.7231
Epoch 56/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5359 - accuracy: 0.7409 - val_loss: 0.5578 - val_accuracy: 0.7290
Epoch 57/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5365 - accuracy: 0.7385 - val_loss: 0.5633 - val_accuracy: 0.7266
Epoch 58/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5368 - accuracy: 0.7387 - val_loss: 0.5662 - val_accuracy: 0.7217
Epoch 59/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5360 - accuracy: 0.7380 - val_loss: 0.5622 - val_accuracy: 0.7248
Epoch 60/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5364 - accuracy: 0.7411 - val_loss: 0.5649 - val_accuracy: 0.7251
Epoch 61/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5358 - accuracy: 0.7391 - val_loss: 0.5668 - val_accuracy: 0.7280
Epoch 62/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5356 - accuracy: 0.7400 - val_loss: 0.5619 - val_accuracy: 0.7243
Epoch 63/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5352 - accuracy: 0.7388 - val_loss: 0.5633 - val_accuracy: 0.7234
Epoch 64/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5348 - accuracy: 0.7406 - val_loss: 0.5656 - val_accuracy: 0.7221
Epoch 65/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5364 - accuracy: 0.7382 - val_loss: 0.5641 - val_accuracy: 0.7289
Epoch 66/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5365 - accuracy: 0.7401 - val_loss: 0.5635 - val_accuracy: 0.7238
Epoch 67/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5368 - accuracy: 0.7397 - val_loss: 0.5658 - val_accuracy: 0.7240
Epoch 68/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5357 - accuracy: 0.7392 - val_loss: 0.5646 - val_accuracy: 0.7277
Epoch 69/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5355 - accuracy: 0.7395 - val_loss: 0.5652 - val_accuracy: 0.7245
Epoch 70/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5364 - accuracy: 0.7395 - val_loss: 0.5616 - val_accuracy: 0.7258
Epoch 71/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5367 - accuracy: 0.7404 - val_loss: 0.5623 - val_accuracy: 0.7261
Epoch 72/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5362 - accuracy: 0.7383 - val_loss: 0.5629 - val_accuracy: 0.7255
Epoch 73/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5351 - accuracy: 0.7386 - val_loss: 0.5652 - val_accuracy: 0.7237
Epoch 74/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5356 - accuracy: 0.7402 - val_loss: 0.5633 - val_accuracy: 0.7256
Epoch 75/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5350 - accuracy: 0.7401 - val_loss: 0.5615 - val_accuracy: 0.7240
Epoch 76/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5348 - accuracy: 0.7385 - val_loss: 0.5641 - val_accuracy: 0.7234
Epoch 77/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5367 - accuracy: 0.7384 - val_loss: 0.5693 - val_accuracy: 0.7224
Epoch 78/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5355 - accuracy: 0.7392 - val_loss: 0.5620 - val_accuracy: 0.7289
Epoch 79/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5354 - accuracy: 0.7389 - val_loss: 0.5640 - val_accuracy: 0.7248
Epoch 80/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5358 - accuracy: 0.7396 - val_loss: 0.5650 - val_accuracy: 0.7255
Epoch 81/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5355 - accuracy: 0.7396 - val_loss: 0.5649 - val_accuracy: 0.7234
Epoch 82/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5350 - accuracy: 0.7379 - val_loss: 0.5674 - val_accuracy: 0.7271
Epoch 83/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5350 - accuracy: 0.7415 - val_loss: 0.5651 - val_accuracy: 0.7231
Epoch 84/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5366 - accuracy: 0.7392 - val_loss: 0.5656 - val_accuracy: 0.7245
Epoch 85/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5359 - accuracy: 0.7398 - val_loss: 0.5653 - val_accuracy: 0.7244
Epoch 86/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5352 - accuracy: 0.7390 - val_loss: 0.5647 - val_accuracy: 0.7233
Epoch 87/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5350 - accuracy: 0.7394 - val_loss: 0.5644 - val_accuracy: 0.7254
Epoch 88/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5347 - accuracy: 0.7407 - val_loss: 0.5709 - val_accuracy: 0.7243
Epoch 89/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5356 - accuracy: 0.7397 - val_loss: 0.5632 - val_accuracy: 0.7266
Epoch 90/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5352 - accuracy: 0.7397 - val_loss: 0.5667 - val_accuracy: 0.7270
Epoch 91/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5355 - accuracy: 0.7404 - val_loss: 0.5647 - val_accuracy: 0.7226
Epoch 92/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5343 - accuracy: 0.7393 - val_loss: 0.5655 - val_accuracy: 0.7233
Epoch 93/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5358 - accuracy: 0.7391 - val_loss: 0.5673 - val_accuracy: 0.7256
Epoch 94/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5350 - accuracy: 0.7399 - val_loss: 0.5646 - val_accuracy: 0.7240
Epoch 95/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5352 - accuracy: 0.7393 - val_loss: 0.5639 - val_accuracy: 0.7301
Epoch 96/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5352 - accuracy: 0.7371 - val_loss: 0.5631 - val_accuracy: 0.7229
Epoch 97/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5344 - accuracy: 0.7403 - val_loss: 0.5634 - val_accuracy: 0.7264
Epoch 98/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5355 - accuracy: 0.7400 - val_loss: 0.5642 - val_accuracy: 0.7296
Epoch 99/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5352 - accuracy: 0.7405 - val_loss: 0.5663 - val_accuracy: 0.7285
Epoch 100/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5357 - accuracy: 0.7407 - val_loss: 0.5633 - val_accuracy: 0.7234

In [26]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5633 - accuracy: 0.7234 - 352ms/epoch - 1ms/step
Loss: 0.5632738471031189, Accuracy: 0.7233819365501404

In [29]:
# Export the model to HDF5 file
model_filename = "your_model.h5"  # Specify the filename for your HDF5 file

nn.save(model_filename)

In [28]:
print("""
Overview of the analysis:
The purpose of this analysis is to create a binary classifier using a deep learning model to predict the success of applicants for funding from Alphabet Soup. The dataset contains information about more than 34,000 organizations that have received funding in the past. The goal is to build a model that can accurately classify whether an applicant will be successful if funded.

Results:

Data Preprocessing:

Target variable: "IS_SUCCESSFUL"
Features: All variables except "EIN" and "NAME"
Variables to be removed: "EIN" and "NAME"
Compiling, Training, and Evaluating the Model:

Number of neurons and layers:
First hidden layer: 128 neurons
Dropout regularization applied after each hidden layer (dropout rate of 0.3)
Second hidden layer: 64 neurons
Third hidden layer: 32 neurons
Output layer: 1 neuron
Activation functions:
Hidden layers: ReLU
Output layer: Sigmoid
Model performance:
Loss: 0.5633
Accuracy: 0.7234
Steps taken to increase model performance:

Adjusted the number of neurons and layers to increase model complexity.
Applied dropout regularization to reduce overfitting.
Used the ReLU activation function to capture non-linear relationships.
Scaled the input data using StandardScaler for improved convergence.
Increased the number of training epochs to allow more iterations.

Summary:
The deep learning model achieved an accuracy of 0.7234 on the test data, surpassing the baseline accuracy. However, further improvements can be made. To enhance the model's performance, additional strategies can be explored, such as hyperparameter tuning, experimenting with different architectures, activation functions, and regularization techniques. Considering the nature of the classification problem, alternative models like random forest, gradient boosting, or support vector machines (SVM) could be considered. These models excel in capturing complex relationships and interactions in tabular data classification tasks. Comparing the performance of these models against the deep learning model would provide insights into alternative approaches for solving this classification problem.
""")

Overview of the analysis:
The purpose of this analysis is to create a binary classifier using a deep learning model to predict the success of applicants for funding from Alphabet Soup. The dataset contains information about more than 34,000 organizations that have received funding in the past. The goal is to build a model that can accurately classify whether an applicant will be successful if funded.

Results:

Data Preprocessing:

Target variable: "IS_SUCCESSFUL"
Features: All variables except "EIN" and "NAME"
Variables to be removed: "EIN" and "NAME"
Compiling, Training, and Evaluating the Model:

Number of neurons and layers:
First hidden layer: 128 neurons
Dropout regularization applied after each hidden layer (dropout rate of 0.3)
Second hidden layer: 64 neurons
Third hidden layer: 32 neurons
Output layer: 1 neuron
Activation functions:
Hidden layers: ReLU
Output layer: Sigmoid
Model performance:
Loss: 0.5633
Accuracy: 0.7234
Steps taken to increase model performance:

Adjusted the number of neurons and layers to increase model complexity.
Applied dropout regularization to reduce overfitting.
Used the ReLU activation function to capture non-linear relationships.
Scaled the input data using StandardScaler for improved convergence.
Increased the number of training epochs to allow more iterations.

Summary:
The deep learning model achieved an accuracy of 0.7234 on the test data, surpassing the baseline accuracy. However, further improvements can be made. To enhance the model's performance, additional strategies can be explored, such as hyperparameter tuning, experimenting with different architectures, activation functions, and regularization techniques. Considering the nature of the classification problem, alternative models like random forest, gradient boosting, or support vector machines (SVM) could be considered. These models excel in capturing complex relationships and interactions in tabular data classification tasks. Comparing the performance of these models against the deep learning model would provide insights into alternative approaches for solving this classification problem.